footer {
    display: flex;
    justify-content: right;
    text-align: center;
}

a {
    padding-left: 8px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }